.sidebar {
    height: 100vh; /* 100% of the viewport height */
    background-color: #007bff; /* Set your primary color here */
    color: red; /* Text color in the sidebar, adjust as needed */

  }

